version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: maets-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    container_name: maets-mongo
    environment:
      MONGO_INITDB_DATABASE: maets
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  app:
    image: node:20
    working_dir: /app
    volumes:
      - ./:/app
    command: node app.js
    environment:
      - PORT=3000
      - NODE_ENV=development
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
    ports:
      - "3000:3000"
    depends_on:
      - postgres

volumes:
  pgdata:
  mongodata:
